body {
	background-color: #f8f9fa;
	display: flex;
	flex-direction: column;
  justify-content: space-between;
	padding: 0;
	margin: 0;
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	background-color: #195a9b;
	color: white;
}
.top-left img {
	width: 50%;
	height: 50%;
}

.top-right ul {
	display: flex;
	list-style-type: none;
	gap: 15px;
}
.top-right a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.top-right a:hover {
	color: yellow;
	text-decoration: underline;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}
.help img {
	width: 20px;
	height: 20px;
}
.help a {
	color: #195a9b;
	text-decoration: none;
}
.help a:hover {
	color: rgb(255, 0, 0);
	text-decoration: underline;
}
.help {
	align-self: flex-end;
}

.login {
	background-color: antiquewhite;
	padding: 50px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.login-button {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
.login-button button {
	background-color: #195a9b;
	color: white;
	padding: 10px;
	border: none;
	width: 100px;
	border-radius: 10px;
}
.login-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.login-input input {
	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: #f4f4f4;
	padding: 8px;
	margin: 5px 0;
	width: 100%;
}

.login-input input:focus {
	outline: none;
	box-shadow: 0 0 5px #719ece;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #195a9b;
	color: white;
}
.footer .content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}
.footer .content ul {
	display: flex;
	list-style-type: none;
	gap: 20px;
}
.footer .content a {
	color: white;
	text-decoration: none;
}
.footer .content a:hover {
	color: yellow;
	text-decoration: underline;
}
