[Unit]
Description=Gunicorn instance to serve nuaasar backend
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/SAR/week6/backend
Environment="PATH=/home/ubuntu/SAR/week6/backend/venv/bin"
ExecStart=/home/ubuntu/SAR/week6/backend/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 app:app

[Install]
WantedBy=multi-user.target
