blinker==1.8.2
click==8.1.7
Flask==3.0.3
Flask-Cors==5.0.0
gunicorn==23.0.0
imageio==2.35.1
itsdangerous==2.2.0
Jinja2==3.1.4
lazy_loader==0.4
MarkupSafe==2.1.5
networkx==3.3
numpy==2.1.1
opencv-python-headless==4.10.0.84
packaging==24.1
pillow==10.4.0
plotly==5.20.0
scikit-image==0.23.2
scipy==1.14.1
tenacity==9.0.0
tifffile==2024.8.30
Werkzeug==3.0.4
