@import url('base.css');

#faq,
#user-guide,
#support {
  background-color: var(--text-light);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

#faq ul,
#user-guide ol {
  padding-left: 1.5rem;
}

#faq li,
#user-guide li {
  margin-bottom: 1rem;
}

#faq h3 {
  color: var(--secondary-color);
}

#support a {
  color: var(--secondary-color);
  text-decoration: none;
}

#support a:hover {
  text-decoration: underline;
}