<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bokeh Plot</title>
    <!-- Embed Bokeh CSS in the document HEAD -->
    <link
        href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.1.min.css"
        rel="stylesheet" type="text/css">
    <!-- Embed Bokeh JS in the document HEAD -->
    <script
        src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.1.min.js">
    </script>
</head>
<body>
    <!-- Embed Bokeh plot in the document BODY -->
    {{ script|safe }}
    {{ div|safe }}
</body>
</html>
